.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination__button {
  background-color: #ffd862;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  height: 40px;
  margin: 0 10px;
  padding: 5px 10px;
  width: 100px;
}

.pagination__button:disabled {
  border: none;
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination__button:hover:enabled {
  background-color: #fee28e;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.pagination__span {
  font-size: 16px;
}
